.nav {
    height: 50px;
    background-color: #111111;
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: flex-end;
    padding: 15px 30px 0;
}

.nav-links-container a {
    text-decoration: none;
}

.nav-links-container a:nth-of-type(1) {
    font-family: 'Righteous', 'cursive';
    font-size: 25px;
    color: #96FF01;
}

.nav-links-container a:nth-of-type(2) {
    color: white;
    font-weight: 700;
}

.nav-links-container span {
    color: white;
}

@media (min-width: 769px) {
    .nav-links-container a:nth-of-type(1) {
        font-size: 50px;
    }

    .nav {
        height: 100px;
    }
}

.form-container {
    height: 70vh;
    text-align: center;
    background-image: url('https://res.cloudinary.com/do6tcpizk/image/upload/v1585860277/Project%202%20React%20App/blaz-photo-cZWZjymwI9o-unsplash_f65t3b.jpg');
    background-size: 100% 100%;
}

form {
    padding: 100px 0;
}

input {
    height: 50px;
    width: 300px;
    font-size: 30px;
    border-radius: 30px;
    padding-left: 10px;
}

button {
    margin-left: 10px;
    font-size: 30px;
    padding: 7px 10px;
    border-radius: 30px;
}

.search-results {
    min-height: 70vh;
    width: 70%;
    margin: 0 auto;
    background-color: #3D3D3D;
    color: white;
}

.search-results li {
    color: #96FF01;
    font-weight: 700;
}

main {
    background-color: #3D3D3D;
    margin: 0;
    padding: 0;
}

.search-results h1 {
    margin: 0;
}

.search-results ol {
    line-height: 3.25;
    display: inline-block;
}

.search-results a {
    text-decoration: none;
}

.detail-container {
    width: 60vw;
    margin: 0 auto;
}

.banner {
    width: 100%;
}

.detail-container h3 {
    margin: 0;
    color: white;
}

.detail-container h5 {
    margin-top: 0;
    color: white;
}

.detail-container h1 {
    font-size: 150%;
    color: #96FF01
}

.detail-container ol li {
    font-size: 90%;
    color: white;
    font-weight: 700;
    padding-left: 10px;
}

.detail-container p {
    font-size: 90%;
    color: white;
    font-weight: 700;
}

.album-container {
    display: grid;
    justify-items: center;
    text-align: center;
}

.detail-container ul {
    margin: 0;
    padding-left: 0;
    padding-bottom: 30px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;
}

.detail-container ul li {
    color: white;
    font-weight: 700;
    padding: 25px;
}

img {
    width: 40vw;
}

@media(min-width: 769px) {
    .album-container {
        grid-template-columns: repeat(3, 1fr);
    }

    img {
        width: 15vw;
    }

    .detail-container h1 {
        font-size: 200%;
    }
    
    .detail-container p {
        font-size: 100%;
    }

    .detail-container li {
        font-size: 100%;
    }
}

.about-container {
    min-height: 70vh;
    text-align: center;
}

.about-container p {
    padding-top: 100px;
    margin: 0;
    color: white;
    font-weight: 700;
}

footer {
    height: 200px;
    background-color: #111111;
    margin: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.footer h3 {
    margin: 0;
    padding: 0;
}


