.nav {
    height: 15vh;
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 45px 30px;
    
}

.form-container {
    height: 70vh;
    text-align: center;
}

form {
    padding: 100px 0;
}

input {
    height: 50px;
    width: 300px;
    font-size: 30px;
}

button {
    margin-left: 10px;
    font-size: 30px;
    padding: 7px 5px;
}

footer {
    height: 15vh;
}


